       





       
<div class="container" style="margin-left: auto ;margin-right: auto">
    <div class="container">
      <div class="row">
        <div class="col-md-7  col-md-offest-3">
          <div class="card">
          
            <h6 class="btn btn-success" ><strong>Enregistré Groupe    </strong></h6>
           
            
            <div class="card-body">
              <form #f="ngForm" (ngSubmit)="onsaveSoutenace(f.value)" class="form-vertical">
               
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label  text-success">Date Soutenance: </label><div class="col-md-8" ><input type="date" class="form-control" name="dateSoutence" ngModel></div>
                    </div>

                   
                   
              
      
  
                <div class="center">
  
                <button  type="submit" class="btn btn-success" >Enregistrer</button>
  
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  

  
  