<!-- sujetEtudiant -->

<div class="col-md-12">
  <div class="card">
    <h6 class="btn btn-success">Listes des demendes d'encadrent</h6>
    <div class="container-fluid">
      <div class="row">
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered table-sm"
              cellpadding="3"
              cellspacing="5"
              rules="cols"
              *ngIf="sujets"
            >
              <thead class="text-success">
                <th>filliére</th>
                <th>titre</th>
                <th>Entreprise d'cceuill</th>

                <th>Demande Par</th>

                <th>Refuse</th>
                <th>Accepte</th>
              </thead>
              <tbody *ngIf="sujets">
                <tr *ngFor="let s of sujets">
                  <td *ngIf="s.sujet.fillieres">
                    {{ s.sujet.fillieres.nomfilliere }}
                  </td>

                  <td *ngIf="s.sujet.titreSujet">
                    {{ s.sujet.titreSujet }}
                  </td>

                  <td *ngIf="s.sujet.entreprise">
                    {{ s.sujet.entreprise.nomEntreprice }}
                  </td>

                  <td *ngIf="s.groupe.nomGrp">
                    {{ s.groupe.nomGrp }}
                  </td>

                  <td>
                    <button
                      *ngIf="s.etat === 0"
                      data-toggle="modal"
                      data-target="#exampleModalCenter"
                      (click)="RefuserDemendeEncadrant(s.id)"
                    >
                      <img src="assets/menu/images/ref.jpg" width="30" />
                    </button>
                    <span *ngIf="s.etat === 2">REFUSEE</span>
                  </td>
                  <td>
                    <button
                      (click)="ValiderDemendeEncadrant(s.id)"
                      *ngIf="s.etat === 0"
                    >
                      <img src="assets/menu/images/valid.jpg" width="30" />
                    </button>
                    <span *ngIf="s.etat === 1">VALIDEE</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Note</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="col-md-4 col-form-label text-success">
          <strong>Note</strong> <abbr>*</abbr>
        </label>
        <div class="col-md-12">
          <input type="text" name="note" [(ngModel)]="note" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="RefuseeAndSaveNote()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
