
<div class="main-content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <h6 class="btn btn-success">Soumission</h6>
  
       
            <div class="card-body">
              <div class="table-responsive">



                <table
                class="table table-striped table-bordered table-sm"
                cellpadding="3"
                cellspacing="5"
                rules="cols"
                *ngIf="demands"
              >
                <thead class="text-success">
                  <th>filliére</th>
                  <th>titre</th>
                  <th>Entreprise d'cceuill</th>

                  <th>Demande Par</th>

                  <th>Refuse Note</th>
                  <th>Accepte</th>
                </thead>
                <tbody *ngIf="demands">
                  <tr>
                    <td *ngIf="demands.sujet.fillieres">
                      {{ demands.sujet.fillieres.nomfilliere }}
                    </td>

                    <td *ngIf="demands.sujet.titreSujet">
                      {{ demands.sujet.titreSujet }}
                    </td>

                    <td *ngIf="demands.sujet.entreprise">
                      {{ demands.sujet.entreprise.nomEntreprice }}
                    </td>

                    <td *ngIf="demands.groupe.nomGrp">
                      {{ demands.groupe.nomGrp }}
                    </td>

                    <td>
                      <div *ngIf="demands.etat === 2 && demands.note">
                        {{ demands.note }}
                      </div>
                    </td>
                    <td>
                      <span *ngIf="demands.etat === 1">VALIDEE</span>
                    </td>
                  </tr>
                </tbody>
              </table>
                <table class="table table-striped table-bordered table-sm"cellpadding="3" cellspacing="5" rules="cols" 
                *ngIf="sujets && sujets.length >0">
                  <thead class=" text-success" >
                    <!-- <th>
                      ID
                      </th>
                    <th>
                      Année Universitaire
                    </th>
               -->
              <th>
                  Filliére
                </th>
                <th>
                  titre
                </th>
              <th >
                  Entreprise d'acceuill 
              </th>
  
              <th  >
                  Proposé par
              </th>
              
              <th >
                Encadrant
            </th>
           
          
              </thead>
              <tbody>
              <tr *ngFor= "let  s of sujets" >
                <!-- <td *ngIf="s.groupe !=null && s.valider == true  &&  groupeFilter.idGrp == s.groupe.idGrp"> 
                    {{s.id}}
                  </td>
                  <td *ngIf="s.groupe !=null && s.valider == true  &&  groupeFilter.idGrp == s.groupe.idGrp"> 
                      {{s.paramatrageAnnee.anneeEncours}}
                    </td>
                    -->
                    <td *ngIf="s.fillieres">
                      {{s.fillieres.nomfilliere}}
                    </td>
                  
                <td *ngIf="s.titreSujet"> 
                  {{s.titreSujet}}
                </td>
                
               
                <!-- <td *ngIf="s.grp_propose !=null">
                  {{s.filliere.nomfilliere}}
                </td> -->
                <td *ngIf="s.entreprise.nomEntreprice">
                   {{s.entreprise.nomEntreprice}}
                   <!-- {{s.grp_propose.idGrp}}  -->
                </td>
             
                
            
                <td *ngIf="s.groupe.nomGrp">
                  
                    {{s.groupe.nomGrp}}         
                     
              
                
                  
                </td>
                <td *ngIf="s.groupe !=null && s.valider == true &&   s.demendeEncadrant == false">
                  
                <div class="form-group row" >
                <div class="col-md-12"  >
                    <select    class="form-control" 
                    name="ensigniant" #n (change)="getNomEnseigiant (n.value)"  ngModel >
                    <option *ngFor ="let p  of ensigniants._embedded.ensigniants"
                     value="{{p.nomEnseigniant}}" >{{p.nomEnseigniant}}</option>
                    </select>
                </div>
              </div>
              
            </td>

                
              <td *ngIf="s.groupe !=null  && s.valider == true &&   s.demendeEncadrant == true">
                
              
              <!-- <h6 style="color : red"> -->
                  Dr. {{s.encad_acadimique.nomEnseigniant}} 
                   <!-- accepté   Votre demende d'encadrant   </h6> -->
              </td>
              <td *ngIf="s.groupe !=null && s.valider == true &&  s.demendeEncadrant == false">
                

                <button class="btn btn-success" (click)="DemandeEncadrantSujet(s)">  envoyer</button>
              </td>
              </tr>
              <tr></tr>
  
  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  




